*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 30%;
    height: 35rem;
    background: #fff;
    border-radius: 20px;
}

.cal_display{
    width: 100%;
    height: 8rem;
    background: #222222;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;
}

.cal_keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    min-height: 5.44rem;
    font-size: 2rem;
    border: 0.1rem solid #c2c2c2;
}

.eql{
    grid-area: 2/4/6/4;
    border-bottom-right-radius: 20px;
    background: #f87d4f;
}

/* grid-area: horizontal line to start at / vertical line to start at / horizontal line to end at / vertical line to end at; */

.zero{
    border-bottom-left-radius: 20px;
}